<form action="/entries" method="post">
  player 1: <br>
  <input type="text" name="player_1_move"><br>
  player 2: <br>
  <input type="text" name="player_2_move"><br>
  <button type="submit"> play! </button>
</form>
